# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/
*.env

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml

# IDEs
.vscode/
.idea/

# System files
*.log
.DS_Store
Thumbs.db
